@import "variables";

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin font-scale($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);
  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
  }
}

@keyframes flow {
    0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@-webkit-keyframes marquee {
    0% {
        -webkit-transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes bgcolor {
    10% {
      fill: $red;
    }
    20% {
      fill: $blue;
    }
    50% {
      fill: $green;
    }
    80% {
      fill: purple;
    }
    100% {
      fill: $grey;
    }
}
