.services__body-wrap {

}

.services__list-wrap {

}

.services__list-item {
    text-align: center;
    padding-bottom: 15px;
}

.services__button {
    display: block;
    margin: 15px auto 0;
}



////////////////////////////////////////////////////////
////////////////////////////////////////////////////////
////////////////////////////////////////////////////////

@media #{$mq-small} {


}




////////////////////////////////////////////////////////
////////////////////////////////////////////////////////
////////////////////////////////////////////////////////

@media #{$mq-medium} {

    .services__list-wrap {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
    }

    .services__list-item {
        width: 48%;
    }

}



////////////////////////////////////////////////////////
////////////////////////////////////////////////////////
////////////////////////////////////////////////////////

@media #{$mq-large} {

    .services__button {
        margin: 20px auto 0;
    }

}



////////////////////////////////////////////////////////
////////////////////////////////////////////////////////
////////////////////////////////////////////////////////

@media #{$mq-largest} {

    .services__list-item {
        width: 33%;
    }

}




////////////////////////////////////////////////////////
////////////////////////////////////////////////////////
////////////////////////////////////////////////////////

@media screen and (min-width: 1800px) {


}



@media (hover: hover) {

}
