$arial: 'Arial', sans-serif;
$mono: 'mono45-headline', monospace;

$white: #F2F4F8;
$gold: #D9A43F;
$red: #D84F3F;
$green: #408C37;
$blue: #074EB2;
$dark-blue: #19296C;
$purple: #6055D9;
$grey: #D1D1D1;
$dark-grey: #A6A6A6;
$black: #130A16;
